.sidebarBtn, .sidebar Label{
    -fx-min-height: 50px;
    -fx-border-style: solid;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-background-color: #373A40;
    -fx-text-fill: #FFFFFF;
}

.sidebar {
    -fx-background-color: #373A40;
    -fx-pref-height: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.sidebar Button:hover {
    -fx-background-color: #393e46;
}
