
.productCard{
    -fx-background-color: #3E4145;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-border-radius: 20px;
    -fx-min-width: 200px;
    -fx-min-height: 410px;
}

.description{
    -fx-background-color: #3E4145;
    -fx-text-fill:white;
}

.description .content {
    -fx-background-color: #3E4145;
}

.productCardText{
    -fx-text-fill:white;
    -fx-background-color: #3E4145;
    -fx-opacity: 1;
}

.productBuyButton{
    -fx-background-color: #33BF95;
    -fx-text-fill:white;

}

.productCardShowMoreBtn {
    -fx-background-color: #0063AA;
    -fx-text-fill:white;
}

